@layer theme, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
